.container-detail {
  margin: 0 auto;
  width: 1221px;
  .breadcrumb {
    padding: 10px 0;
    .MuiBreadcrumbs-root {
      .MuiBreadcrumbs-ol {
        .MuiBreadcrumbs-li {
          a {
            color: rgb(130, 130, 130);
            text-decoration: none;
            &:hover {
              color: blue;
            }
          }
        }
      }
    }
  }
  .MuiGrid-container {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    .image-detail {
      max-width: 400px;
      margin-right: 10px;
      background-color: #fff;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      img {
        width: 350px;
      }
    }
    .content-detail {
      max-width: 800px;
      background-color: #fff;
      border-radius: 15px;
      padding: 10px 20px;
    }
  }
}
